.content{
    margin-top: 20px;
    width: 950px;
    min-height: 797px;
    margin-left: 250px;
}

.contentText{
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
    text-indent: 1.5em;
}

.contentTitlle{
    font-family: Verdana, Geneva, sans-serif;
    font-style: italic;
    font-weight: bold;
    display: block;
    text-align: center;
}

